/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

html,
body {
  height: 100%;
  background-color: #333;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.bubblechartrow {
  background-image: url(../img/crimeheadergray.jpg);
  background-size: cover;
  padding-top: 70px;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}

.statebarrow {
  background-image: url(../img/crimeheadergray.jpg);
  background-size: cover;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}



/* Padding for spacing */
.inner {
  background-color: gray;
  height: 20px;
}

.title {
    font-family: Arial;
    font-size: 36px;
    color: red;
}

.mastfoot > li {
  display: inline-block;
  color: black;
}


/* trigger button */
.btn {
    background-color: gray;
    margin-top: 40px;
}

#triggertext {

}

.slidetext {
    padding-top: 70px;
}

.chevron {
    padding-top: 200px;
}
/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
  height: 40px;
  background-color: black;
}

.has-image text {
    display: none;
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering
  .site-wrapper-inner {
    vertical-align: middle;
  }
    */
  /* Handle the widths */

  .mastfoot {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

