/*
 * Globals
 */

/* Links */

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

a,
a:focus,
a:hover {
  color: #fff;
}


h1 {
    font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
    font-size: 36px;
    color: #F0EAD1;
}

h2 {
    font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
    font-size: 24px;
    color: #F0EAD1;
    text-align: left;
}

p {
    font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
    font-size: 12px;
    margin: 10px 0 0 0;
			}

.dropbar {
    font-family: 'Open Sans', 'Helvetica', sans-serif;
    text-align: left;
}


body {
  font-family: 'Open Sans', 'Helvetica', sans-serif;
  height: 100%;
  background-color: #52504E;
  color: #F0EAD1;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

.charttext {
    font-family: 'Open Sans', 'Helvetica', sans-serif;
    text-align: left;
    color: #F0EAD1;
}

.chartside {
    color: #F0EAD1;
    padding-left: 80px;
    padding-top: 20px;

}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.bubblechartrow {
  background-image: url(../img/crimeheadergray3.jpg);
  background-size: cover;
  background-color:rgba(0, 0, 0, 0.3);
  padding-top: 70px;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}

.statebarrow {
 background-image: url(../img/crimeheadergray4.jpg);
  background-size: cover;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}

.firstbarrow {
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}

.statedropbar {
    color: red;
}

.pagewrap {

}

.title {
    font-family: 'Open Sans', 'Helvetica', sans-serif;
    font-size: 36px;
    color: #F0EAD1;
}

select {
    font-family: 'Open Sans', 'Helvetica', sans-serif;
    float: left;
    color: red;
    font-size: 12px;
}

option {
    color: red;
}


.mastfoot > li {
  display: inline-block;
  color: black;
}


/* trigger button */
.btn {
    background-color: gray;
    margin-top: 40px;
    font-family: 'Open Sans', 'Helvetica', sans-serif;

}

#triggertext {
    font-family: 'Open Sans', 'Helvetica', sans-serif;
    font-size: 12px;
    color: #F0EAD1;
}

#slider {
    padding-top: 90px;
    padding-right: 20px;
    padding-left: 20px;
}

.slideh2 {
    font-family: 'Open Sans', 'Helvetica', sans-serif;
    font-size: 14px;
    color: #F0EAD1;
}

.slidetext {
    padding-top: 20px;
    font-family: 'Open Sans', 'Helvetica', sans-serif;
    font-size: 12px;
    text-align: left;
    color: #F0EAD1;
}

.chevron {
    padding-top: 200px;
    color: #F0EAD1;
}
/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(82, 80, 78,.5);
  height: 40px;
  background-color: #52504E;
}

.has-image text {
    display: none;
}

#finalchart {
    padding-top: 40px;
    padding-bottom: 40px;

}
/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering
  .site-wrapper-inner {
    vertical-align: middle;
  }
    */
  /* Handle the widths */

  .mastfoot {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

