/*
 * Globals
 */

/* Links */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:bold,italic);

a,
a:focus,
a:hover {
  color: #fff;
}


h1 {
    font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
    font-size: 36px;
    color: #F0EAD1;
}

h2 {
    font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
    font-size: 24px;
    color: #F0EAD1;
    text-align: left;
}

p {
    font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
    font-size: 12px;
    margin: 10px 0 0 0;
			}

.navbar-fixed-top {
    background-color: #F0EAD1;
}

.navbar-nav > li > a  {
    color: #52504E;
    padding-right: 60px;
}

.navbar-header {
    padding-left: 100px;
}

.navbar {

}


.dropbar {
    font-family: 'Open Sans', 'Helvetica', sans-serif;
    text-align: left;
}


body {
  font-family: 'Open Sans', 'Helvetica', sans-serif;
  height: 100%;
  background-color: #52504E;
  color: #F0EAD1;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

.charttext {
    font-family: 'Open Sans', 'Helvetica', sans-serif;
    text-align: left;
    color: #F0EAD1;
}

.chartside {
    color: #F0EAD1;
    padding-left: 80px;
    padding-top: 20px;

}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.bubblechartrow {
  background-image: url(../img/crime_gun_gray_source5.jpg);
  background-size: cover;
  background-color:rgba(0, 0, 0, 0.3);
  padding-top: 70px;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}

.statebarrow {
 background-image: url(../img/crime_gun_gray_source5.jpg);
  background-size: cover;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}

.firstbarrow {
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}



.pagewrap {

}

.title {
    font-family: 'Open Sans', 'Helvetica', sans-serif;
    font-size: 36px;
    color: #F0EAD1;
}

.navbar-brand {
    font-family: 'Open Sans', 'Helvetica', sans-serif;
    font-size: 36px;
    color: #6F0909 !important;
}

select {
  font-family: 'Open Sans', 'Helvetica', sans-serif;
   background: #F0EAD1;
   width: 268px;
   color: #6F0909;
   padding: 5px;
   font-size: 16px;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: 34px;
}


.mastfoot > li {
  display: inline-block;
  color: black;
}


/* trigger button */
.back-button {
    background-color: #F0EAD1;
    margin-top: 40px;
    font-family: 'Open Sans', 'Helvetica', sans-serif;
    color: #52504E;
}

.triggertext {
    font-family: 'Open Sans', 'Helvetica', sans-serif;
    font-size: 14px;
    color: #F0EAD1;
}


#slider {
    padding-top: 90px;
    padding-right: 20px;
    padding-left: 20px;
}

#bubbleside {
    padding-right: 200px;
    padding-left: 200px;
    background-color: #F0EAD1;
    height:300px;
}

#barside {
    padding-right: 200px;
    padding-left: 200px;
    background-color: #F0EAD1;
}

#policyside {
    padding-right: 200px;
    padding-left: 200px;
    background-color: #F0EAD1;
    height: 500px;
}

.slideh2 {
    font-family: 'Open Sans', 'Helvetica', sans-serif;
    font-weight:bold;
    font-size: 20px;
    color: #52504E;
    text-align: center;
}

.slidetext {
    font-family: 'Open Sans', 'Helvetica', sans-serif;
    font-size: 16px;
    color: #52504E;
    text-align: center;

}

.chevron {
    padding: 20px;
    color: #F0EAD1;

}
/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(82, 80, 78,.5);
  height: 40px;
  background-color: #52504E;
}

.has-image text {
    display: none;
}

#finalchart {
    padding-top: 40px;
    padding-bottom: 40px;

}
/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering
  .site-wrapper-inner {
    vertical-align: middle;
  }
    */
  /* Handle the widths */

  .mastfoot {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

