

svg {
				background-color:transparent
			}

.axis path,
.axis line {
				fill: none;
				stroke: white;
				shape-rendering: crispEdges;
			}
			
.axis text {
				font-family: Helvetica, Arial, sans-serif;
				font-size: 12px;
			}

.y.axis path,
.y.axis line {
				opacity: 0;
			}

text {
    fill: white;
}



#finalchart rect {
    fill: red;
}

rect:hover {
    fill: steelblue;
}
