body {
				background-color: white;
				font-family: Helvetica, Arial, sans-serif;
			}
h1 {
				font-size: 24px;
				margin: 0;
			}

p {
				font-size: 14px;
				margin: 10px 0 0 0;
                font-family: Helvetica, Arial, sans-serif;
			}

svg {
				background-color:transparent
			}

.axis path,
.axis line {
				fill: none;
				stroke: white;
				shape-rendering: crispEdges;
			}
			
.axis text {
				font-family: Helvetica, Arial, sans-serif;
				font-size: 12px;
			}

.y.axis path,
.y.axis line {
				opacity: 0;
			}

text {
    fill: white;
}

#final {
    padding-top: 40px;

}


#dropdown {
    padding-top: 40px;
    padding-right: 40px;
}

rect {
    fill: red;
}

rect:hover {
    fill: steelblue;
}
