body {
    background-color: tran;
    font-family: Helvetica, Arial, sans-serif;
			}

    h1 {
        font-size: 24px;
        margin: 0;
			}

			p {
				font-size: 14px;
				margin: 10px 0 0 0;
			}

			svg {
				background-color: transparent;
			}

			rect:hover {
				fill: gray;
			}

			.axis path,
			.axis line {
				fill: none;
				stroke: black;
				shape-rendering: crispEdges;
			}

			.axis text {
				font-family: sans-serif;
				font-size: 11px;
			}

			.y.axis path,
			.y.axis line {
				opacity: 0;
			}
